version: '3'

services:
  master:
    build:
      context: .
      dockerfile: Dockerfile.master
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
      - ./config:/app/config
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/config/distributed_crawler.json
      - COMPONENT_TYPE=master
      - LOCAL_MODE=${LOCAL_MODE:-false}

  crawler:
    build:
      context: .
      dockerfile: Dockerfile.crawler
    depends_on:
      - master
    volumes:
      - ./data:/app/data
      - ./config:/app/config
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/config/distributed_crawler.json
      - COMPONENT_TYPE=crawler
      - CRAWLER_MAX_DEPTH=3
      - CRAWLER_MAX_PAGES_PER_DOMAIN=25
      - CRAWLER_RESPECT_ROBOTS=true
      - CRAWLER_CRAWL_DELAY=1.0
      - CRAWLER_TIMEOUT=30
      - CRAWLER_MAX_RETRIES=3
      - LOCAL_MODE=${LOCAL_MODE:-false}

  indexer:
    build:
      context: .
      dockerfile: Dockerfile.indexer
    depends_on:
      - master
    volumes:
      - ./data:/app/data
      - ./config:/app/config
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/config/distributed_crawler.json
      - COMPONENT_TYPE=indexer
      - LOCAL_MODE=${LOCAL_MODE:-false} 